// =================================
// HEADLINES
// =================================
.about,
.portfolio,
.skills,
.contact {
  &__headline {
    position: relative;

    &::after {
      content: "";
      height: 0.3rem;
      width: 10%;
      background-color: $color-4;
      position: absolute;
      bottom: 3rem;
      left: 0%;
    }
  }
}

// =================================
// ABOUT
// =================================

.about {
  padding: 4rem 0;

  &__copy {
    display: flex;
  }

  &__intro {
    padding-right: 2rem;
    width: calc(75% - 2rem);

    p {
      padding: 1rem 0 1rem 0;
    }
  }

  &__headshot {
    width: 25%;

    img {
      box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
    }
  }
}

// =================================
// PORTFOLIO
// =================================
.portfolio {
  padding: 4rem 2rem;

  &__project1,
  &__project2,
  &__project3 {
    display: flex;
  }

  &__project2 {
    flex-direction: row-reverse;
  }

  &__mockup,
  &__summary {
    width: 50%;
    padding: 2rem;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
  }

  &__builtWith {
    display: flex;
    font-weight: 600;
  }

  &__skills {
    padding: 1em 2rem 2rem 0;
    color: $color-1;
    font-size: 2rem;
    border-top: 2px solid $color-4;
    border-bottom: 2px solid $color-4;
  }

  &__description {
    padding-top: 1rem;
  }

  &__view {
    display: flex;
  }

  &__github,
  &__livesite {
    padding: 1rem 2rem;
    margin: 2rem 2rem 2rem 0;
    background-color: $color-1;
    border-radius: 5px;
    border: none;
    color: $color-7;
    box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);

    &:hover {
      background-color: $color-4;
    }

    i.portfolio__view-on {
      color: $color-7;
      font-size: 3rem;
      padding-right: 1rem;
    }
  }
}
// =================================
// SKILLS
// =================================
.skills {
  padding: 4rem 0;

  &__programs {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 1rem;
  }

  // CONSIDER MAKING ICONS A UL
  &__icon {
    font-size: 7rem;
    color: $color-4;
    line-height: 10rem;
    padding: 2rem 3rem 5rem 3rem;
  }
}
// =================================
// CONTACT
// =================================
.contact {
  padding: 4rem 0;

  &__content {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 35%;
    padding: 2rem 2rem 2rem 0;

    img {
      box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
    }
  }

  &__info {
    padding: 2rem 2rem 2rem 6rem;
  }

  &__email,
  &__linkedIn,
  &__github,
  &__dev {
    margin: 2rem 0;

    i {
      color: $color-4;
      font-size: 5rem;
      padding-right: 2rem;
    }

    a {
      font-size: 2.2rem;
      color: $color-1;
      font-weight: 600;
    }
  }

  &__formArea {
    width: 60%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    label {
      padding-left: 1rem;
    }

    input {
      margin: 1rem;
      padding: 1rem;
      border-radius: 5px;

      &:focus-within {
        border: inset;
      }
    }

    textarea {
      border: none;
      margin: 1rem;
      padding: 1rem;
      border-radius: 5px;
      border-width: 2px;
      border-style: inset;
      border-color: initial;
    }
  }

  &__btnSend {
    background-color: $color-1;
    padding: 2rem 3rem;
    color: $color-7;
    display: inline-block;
    margin: 2rem auto;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);

    &:hover {
      background-color: $color-4;
    }
  }
}
