// =================================
// HEADLINES
// =================================
.about,
.portfolio,
.skills,
.contact {
  &__headline {
    position: relative;

    &::after {
      content: "";
      height: 0.3rem;
      width: 10%;
      background-color: $color-4;
      position: absolute;
      top: 7rem;
      left: 0%;
    }
  }
}

// =================================
// ABOUT
// =================================

.about {
  height: 95vh;
  padding: 4rem 0;

  &__copy {
    display: flex;
  }

  &__intro {
    padding-right: 2rem;
    width: calc(75% - 2rem);
  }

  &__headshot {
    width: 25%;
    box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
  }
  // &__headline {
  //   position: relative;

  //   &::after {
  //     content: "";
  //     height: 0.3rem;
  //     width: 10%;
  //     background-color: $color-4;
  //     position: absolute;
  //     top: 7rem;
  //     left: 0%;
  //   }
  // }
}

// =================================
// PORTFOLIO
// =================================
.portfolio {
  padding: 4rem 0;

  // &__headline {
  //   position: relative;

  //   &::after {
  //     content: "";
  //     height: 0.3rem;
  //     width: 10%;
  //     background-color: $color-4;
  //     position: absolute;
  //     top: 7rem;
  //     left: 0%;
  //   }
  // }

  &__project1,
  &__project2,
  &__project3,
  &__project4,
  &__project5 {
    display: flex;
    // background-color: $color-4;
  }

  &__project1,
  &__project3,
  &__project5 {
    display: flex;
  }

  &__project2,
  &__project4 {
    display: flex;
  }

  &__mockup,
  &__summary {
    width: 50%;
    padding: 2rem;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
  }

  &__builtWith {
    display: flex;
    font-weight: 600;
  }

  &__skills {
    padding: 1rem 2rem 3rem 0;
    color: $color-1;
  }
}
// =================================
// SKILLS
// =================================
.skills {
  // height: 95vh;
  padding: 4rem 0;

  &__programs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  // CONSIDER MAKING ICONS A UL
  &__icon {
    font-size: 7rem;
    color: $color-4;
    line-height: 10rem;
    padding: 2rem 3rem 5rem 3rem;
  }
}
// =================================
// CONTACT
// =================================
.contact {
  padding: 4rem 0;

  &__content {
    display: flex;
  }

  &__img {
    width: 40%;
    padding: 2rem;

    img {
      box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
    }
  }

  &__formArea {
    width: 60%;
    // padding: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    // background-color: $color-4;
    padding: 2rem;

    label {
      padding-left: 1rem;
    }

    input {
      margin: 1rem;
      padding: 1rem;
      border-radius: 5px;

      &:focus-within {
        border: inset;
      }
    }

    textarea {
      border: none;
      margin: 1rem;
      padding: 1rem;
      border-radius: 5px;
      border-width: 2px;
      border-style: inset;
      border-color: initial;
    }
  }

  &__btnSend {
    background-color: $color-1;
    padding: 2rem 3rem;
    color: $color-7;
    display: inline-block;
    margin: 2rem auto;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);

    &:hover {
      background-color: $color-4;
    }
  }
}
