@media (max-width: 899px) {
  .about,
  .portfolio,
  .skills,
  .contact {
    &__headline {
      position: relative;

      &::after {
        content: "";
        height: 0.3rem;
        width: 20%;
        background-color: $color-4;
        position: absolute;
        bottom: 3rem;
        left: 0%;
      }
    }
  }

  .portfolio {
    &__project1,
    &__project2,
    &__project3,
    &__project4,
    &__project5 {
      flex-direction: column;
    }

    &__mockup,
    &__summary {
      width: 100%;
    }
  }

  .contact {
    &__content {
      flex-direction: column;
    }

    &__img {
      padding: 2rem 0;
      width: 50%;
      display: inline-block;
      margin: 0 auto;
    }
    &__formArea {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .header {
    .header-nav {
      &__menu {
        position: fixed;
        // padding-top: 10rem;
        // position: absolute;
        right: 0px;
        top: 0vh;
        height: 100vh;
        width: 100%;
        padding: 50px;
        background-color: $color-4;
        z-index: 10;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }
      // CLASS FOR JAVASCRIPT TO TOGGLE TO DISPLAY ON CLICK
      &__menu--mobileActive {
        transform: translateX(0%);
      }

      &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 2rem;
      }

      &__item {
        opacity: 0;
      }

      &__mobileNav {
        display: block;
        z-index: 20;
      }

      // TOGGLE CLASS FOR JAVASCRIPT
      &__burger--toExit .header-nav__burger--line1 {
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      &__burger--toExit .header-nav__burger--line2 {
        opacity: 0;
      }

      &__burger--toExit .header-nav__burger--line3 {
        transform: rotate(45deg) translate(-8px, -6px);
      }

      @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(5rem);
        }
        to {
          opacity: 1;
          transform: translateX(0rem);
        }
      }
    }
  }

  .about,
  .portfolio,
  .skills,
  .contact {
    &__headline {
      position: relative;

      &::after {
        content: "";
        height: 0.3rem;
        width: 25%;
        background-color: $color-4;
        position: absolute;
        bottom: 3rem;
        left: 0%;
      }
    }
  }

  .about {
    &__copy {
      flex-direction: column;
    }

    &__headshot {
      padding: 2rem 0;
      width: 50%;
      display: inline-block;
      margin: 0 auto;
    }

    &__intro {
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  p,
  a {
    font-family: $font-2;
    font-size: 1.8rem;
  }

  .header {
    .header-content {
      &__job,
      &__tagline {
        font-size: 2rem;
      }
    }
  }

  .portfolio {
    &__view {
      flex-direction: column;

      a {
        margin: 2rem;
      }
    }
  }

  .contact {
    &__email,
    &__linkedIn,
    &__github,
    &__devto {
      a {
        flex-direction: column;
        text-align: center;
      }

      i {
        padding-right: 0;
      }
    }

    &__info {
      padding: 2rem;
      text-align: center;
    }
  }
}
