// =================================
// CLEAR DEFAULTS
// =================================

section {
  overflow: hidden;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 0;
}

li {
  list-style: none;
}

// =================================
// STANDARD STYLES
// =================================

h1,
h2,
h3 {
  font-family: $font-1;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 8rem;
  font-weight: 900;
  line-height: 7rem;
  // text-transform: uppercase;
  margin: 2rem 0;
  padding-bottom: 3rem;
}

h2 {
  font-size: 6rem;
  line-height: 5rem;
  color: $color-1;
  margin: 2rem 0;
  padding-bottom: 6rem;
}

h3 {
  font-size: 3.5rem;
  line-height: 4rem;
  color: $color-4;
  padding-bottom: 1rem;
}

p,
a {
  font-family: $font-2;
  font-size: 1.8rem;
}

p {
  line-height: 1.25;
}
