// =================================
// VARIABLES
// =================================

// COLORS
// $color-1: #174e68;
$color-2: #eaeef2;
$color-3: #d2f1f4;
// $color-4: #9e387e;
$color-5: #59c1d1;
$color-6: #0000;
$color-7: #ffff;

// FONTS
$font-1: "Merriweather", serif;
$font-2: "Lato", serif;

// SECONDARY COLOR SCHEME:
// $color-1: #4f285e;
// $color-1: #5a3274;
// $color-4: #46acb8;

// THIRD COLOR SCHEME:
$color-1: #022552;
$color-4: #9e387e;

// dot background
//  <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by coolvector - www.freepik.com</a>
