article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Merriweather", serif;
  font-family: "Lato", sans-serif;
  background-color: #eaeef2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23ffffff' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ffffff'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  width: 80%;
}

img {
  width: 100%;
  display: block;
}

section {
  overflow: hidden;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 8rem;
  font-weight: 900;
  line-height: 8rem;
  margin: 2rem 0;
}

h2 {
  font-size: 6rem;
  line-height: 6rem;
  color: #022552;
  margin: 2rem 0;
  padding-bottom: 6rem;
}

h3 {
  font-size: 3.5rem;
  line-height: 4rem;
  color: #022552;
  padding-bottom: 1rem;
}

p,
a {
  font-family: "Lato", serif;
  font-size: 1.8rem;
}

p {
  line-height: 1.35;
}

.header {
  height: 95vh;
  background-color: #022552;
  /*BACKUP IF IMAGE FAILS*/
  background-image: url("../assets/background-BB.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 2rem;
}

.header .header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-nav__item {
  padding: 2rem 0 2rem 2rem;
}

.header .header-nav__link {
  color: #ffff;
  font-family: "Merriweather", serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem;
}

.header .header-nav__link:hover {
  background-color: #9e387e;
  padding: 1rem;
  border-radius: 5px;
}

.header .header-nav__link:focus {
  border: 1px solid #9e387e;
}

.header .header-nav__mobileNav {
  display: none;
  padding: 10rem 0 2rem 0;
  position: fixed;
}

.header .header-nav__mobileNav span {
  display: block;
  width: 2.9rem;
  height: 0.4rem;
  background-color: #ffff;
  margin: 0.65rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .header-nav__mobileContainer {
  background-color: #9e387e;
  padding: 0.8rem;
  border-radius: 5rem;
}

.header .header-content {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-content__job {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  position: relative;
}

.header .header-content__job::after {
  content: "";
  height: 0.3rem;
  width: 20%;
  background-color: #9e387e;
  position: absolute;
  bottom: -3rem;
  left: 0%;
}

.header .header-content__tagline {
  font-family: "Merriweather", serif;
  font-size: 3rem;
  word-spacing: 20px;
  padding-top: 5rem;
}

.about__headline,
.portfolio__headline,
.skills__headline,
.contact__headline {
  position: relative;
}

.about__headline::after,
.portfolio__headline::after,
.skills__headline::after,
.contact__headline::after {
  content: "";
  height: 0.3rem;
  width: 10%;
  background-color: #9e387e;
  position: absolute;
  bottom: 3rem;
  left: 0%;
}

.about {
  padding: 4rem 0;
}

.about__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__intro {
  padding-right: 2rem;
  width: calc(75% - 2rem);
}

.about__intro p {
  padding: 1rem 0 1rem 0;
}

.about__headshot {
  width: 25%;
}

.about__headshot img {
  -webkit-box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
          box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
}

.portfolio {
  padding: 4rem 2rem;
}

.portfolio__project1, .portfolio__project2, .portfolio__project3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__project2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.portfolio__mockup, .portfolio__summary {
  width: 50%;
  padding: 2rem;
}

.portfolio__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__img {
  -webkit-box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
          box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
}

.portfolio__builtWith {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
  font-weight: 600;
  border-top: 2px solid #9e387e;
  border-bottom: 2px solid #9e387e;
}

.portfolio__skills {
  padding-right: 2rem;
  color: #022552;
  font-size: 2rem;
  line-height: 4rem;
}

.portfolio__description {
  padding-top: 1rem;
}

.portfolio__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__gitLink, .portfolio__liveLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 2rem;
  margin: 2rem 2rem 2rem 0;
  background-color: #022552;
  border-radius: 5px;
  border: none;
  color: #ffff;
  -webkit-box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
          box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
}

.portfolio__gitLink:hover, .portfolio__liveLink:hover {
  background-color: #9e387e;
}

.portfolio__gitLink i.portfolio__view-on, .portfolio__liveLink i.portfolio__view-on {
  color: #ffff;
  font-size: 3rem;
  padding-right: 1rem;
}

.skills {
  padding: 4rem 0;
}

.skills__programs {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1rem;
}

.skills__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 8rem;
  color: #9e387e;
  padding: 2rem 3rem 5rem 3rem;
}

.skills__icon--text {
  font-size: 1.8rem;
  font-family: "Lato", serif;
  color: #022552;
  font-weight: 600;
  padding: 2rem 0;
}

.contact {
  padding: 4rem 0;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__img {
  width: 35%;
  padding: 2rem 2rem 2rem 0;
}

.contact__img img {
  -webkit-box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
          box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
}

.contact__info {
  padding: 2rem 2rem 2rem 6rem;
}

.contact__email, .contact__linkedIn, .contact__github, .contact__devto {
  margin: 2rem 0;
}

.contact__email a, .contact__linkedIn a, .contact__github a, .contact__devto a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
  color: #022552;
  font-weight: 600;
}

.contact__email a:hover, .contact__linkedIn a:hover, .contact__github a:hover, .contact__devto a:hover {
  color: #9e387e;
}

.contact__email i, .contact__linkedIn i, .contact__github i, .contact__devto i {
  color: #9e387e;
  font-size: 5rem;
  padding-right: 2rem;
}

.contact__email i:hover, .contact__linkedIn i:hover, .contact__github i:hover, .contact__devto i:hover {
  color: #022552;
}

.footer {
  padding: 1rem;
  background-color: #022552;
  color: #ffff;
  text-align: center;
}

@media (max-width: 899px) {
  .about__headline,
  .portfolio__headline,
  .skills__headline,
  .contact__headline {
    position: relative;
  }
  .about__headline::after,
  .portfolio__headline::after,
  .skills__headline::after,
  .contact__headline::after {
    content: "";
    height: 0.3rem;
    width: 20%;
    background-color: #9e387e;
    position: absolute;
    bottom: 3rem;
    left: 0%;
  }
  .portfolio__project1, .portfolio__project2, .portfolio__project3, .portfolio__project4, .portfolio__project5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__mockup, .portfolio__summary {
    width: 100%;
  }
  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__img {
    padding: 2rem 0;
    width: 50%;
    display: inline-block;
    margin: 0 auto;
  }
  .contact__formArea {
    width: 100%;
  }
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .header .header-nav__menu {
    position: fixed;
    right: 0px;
    top: 0vh;
    height: 100vh;
    width: 100%;
    padding: 50px;
    background-color: #9e387e;
    z-index: 10;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .header .header-nav__menu--mobileActive {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 2rem;
  }
  .header .header-nav__item {
    opacity: 0;
  }
  .header .header-nav__mobileNav {
    display: block;
    z-index: 20;
  }
  .header .header-nav__burger--toExit .header-nav__burger--line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
  }
  .header .header-nav__burger--toExit .header-nav__burger--line2 {
    opacity: 0;
  }
  .header .header-nav__burger--toExit .header-nav__burger--line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
            transform: rotate(45deg) translate(-8px, -6px);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(5rem);
              transform: translateX(5rem);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0rem);
              transform: translateX(0rem);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(5rem);
              transform: translateX(5rem);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0rem);
              transform: translateX(0rem);
    }
  }
  .about__headline,
  .portfolio__headline,
  .skills__headline,
  .contact__headline {
    position: relative;
  }
  .about__headline::after,
  .portfolio__headline::after,
  .skills__headline::after,
  .contact__headline::after {
    content: "";
    height: 0.3rem;
    width: 25%;
    background-color: #9e387e;
    position: absolute;
    bottom: 3rem;
    left: 0%;
  }
  .about__copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__headshot {
    padding: 2rem 0;
    width: 50%;
    display: inline-block;
    margin: 0 auto;
  }
  .about__intro {
    width: 100%;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  p,
  a {
    font-family: "Lato", serif;
    font-size: 1.8rem;
  }
  .header .header-content__job, .header .header-content__tagline {
    font-size: 2rem;
  }
  .portfolio__view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__view a {
    margin: 2rem;
  }
  .contact__email a, .contact__linkedIn a, .contact__github a, .contact__devto a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contact__email i, .contact__linkedIn i, .contact__github i, .contact__devto i {
    padding-right: 0;
  }
  .contact__info {
    padding: 2rem;
    text-align: center;
  }
}
